/* Custom styles for buttons if needed */
/* .btn-save {
    background-color: #5A9;
    color: white;
    border: none;
  } */
  
  /* .btn-save:hover {
    background-color: #47A;
  } */
  /* .btn-save {
    background-color: #1c1c6e;
    color: white;
  }
   */